.aside{
    padding-left: 0.5rem;
    margin-left: 80px;
    text-align: center;
    float: left;
    border: 2px double white;
    border-radius: 50px;
    font-style: italic;
    padding: 25px 5px;
}


main{
    font-family: 'Roboto', sans-serif;
    font-family: 'Sometype Mono', monospace;
}

.head{
    height: 46px;
    width: 46px;
    padding-left: 0px;
}


.main{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
}

.main1{
    text-align: left;
    margin-left: 80px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 100px;
}

.main2{
    text-align: right;
    margin-right: 80px;
}


.main3{
    text-align: center;
}


.main4{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}



.nav{
    text-align: center;
    margin-bottom: 50px;
}

.button{
    border-radius: 100px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    margin-right: 40px;
    text-align: center;
    background: radial-gradient(rgb(255, 255, 255), rgb(155, 155, 155));
    color: #000000;
    flex-direction: row;
    padding: 7px 40px;
    cursor: pointer;
    border: 2px solid  rgb(31, 31, 31);;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: all 150ms ease-in-out;
}

button:hover {
    transition: .5s;
    background-color: #000000;
    color: #ffffff;
    background: radial-gradient(rgb(72, 72, 72), rgb(182, 182, 182));
    box-shadow: 0 0 10px 4px rgb(182, 182, 182);
}

.button_wrong{
    border-radius: 100px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    margin-right: 40px;
    text-align: center;
    background: radial-gradient(rgb(255, 50, 50), rgb(173, 82, 82));
    color: #000000;
    flex-direction: row;
    padding: 7px 40px;
    cursor: pointer;
    border: 2px solid  rgb(31, 31, 31);;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: all 150ms ease-in-out;
}
.button_wrong:hover {
    background: radial-gradient(rgb(211, 89, 89),rgb(163, 17, 17));
}

.button_right{
    border-radius: 100px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    margin-right: 40px;
    text-align: center;
    background: radial-gradient(rgb(14, 133, 47), rgb(88, 217, 101));
    color: #000000;
    flex-direction: row;
    padding: 7px 40px;
    cursor: pointer;
    border: 2px solid  rgb(31, 31, 31);;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: all 150ms ease-in-out;
}
.button_right:hover {
    background: radial-gradient(rgb(28, 174, 45),rgb(118, 196, 126));
}
.button1{
    border-radius: 100px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background: radial-gradient(rgb(255, 255, 255), rgb(155, 155, 155));
    color: #000000;
    flex-direction: row;
    cursor: pointer;
    border: 3px solid  rgb(31, 31, 31);;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transition: all 150ms ease-in-out;
}



ol{
    list-style-type: none;
}

.table{
    display: inline-block;
}

.container {
    display: block;
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-left: 0px;
    padding-left: 0px;
}

.img{
    width: 800px;
    height: 400px; 
}

.wrap{
        text-align: center;
        border: 500px;
}
.picture {
    position: relative;
    float: left;
    padding-left: 25px;
    text-decoration: none;
}

.body{
    background:radial-gradient(rgb(58, 58, 58),black);
    color: #fff;
}





.link{
    color: rgb(21, 239, 57);
}

.text{
    border-radius: 10px;
    text-align: left;
}
.text_r{
    border-radius: 10px;
    text-align: right;
}

.h{
    text-align: center;
    font-weight: bold;
}

.h1{
    text-align: right;
    font-style: italic;
}



.left{
    width: 20%;
    border-radius: 25px;
    background: none;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    display: block;
}   


.center{
    display: inline-block;
    width: 70%;
    padding: 15px;
    background:none;
}

.full{
    display: inline-block;
    text-align: center;
    padding: 15px;
    background:none;
}


.article{
    display: inline-block;
    border-radius: 50px;
    text-align: left;
    color: white;
}

.article_right{
    display: inline-block;
    border-radius: 50px;
    text-align: right;
    color: white;
}


.calc1{
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255)
}


.calc{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    color: rgb(255, 255, 255)
}


.title {
    text-align: justify;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Georgia, 'Times New Roman', Times, serif 'Open Sans', 'Helvetica Neue', sans-serif;
}


.k{
    width: 450px;
    height: 350px;
}

footer{
    background: none;
    text-align: right;
    padding-right: 50px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff5f;
}







.div{
    display: block;
}


.calculator{
    display: inline-block;
    padding-left: 0.5rem;
    margin-left: 80px;
    text-align: center;
    border: 2px double white;
    border-radius: 50px;
    font-style: italic;
    color: #29627e;
    padding: 25px 5px;
}

.calculator1{
    display: inline-block;
    padding-left: 0.5rem;
    margin-right: 80px;
    text-align: center;
    border: 2px double white;
    border-radius: 50px;
    font-style: italic;
    color: #29627e;
    padding: 25px 5px;
}


